table {
    padding: 1em;
}

.envolta-tabela{
    margin:20px;
}

td, th {
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    color: ghostwhite;
    border-width: 1.5px;
    border-color: yellow;
    //background: pink;
}

.cabecalho {
    text-align: center;
}