<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Mais informações sobre o filme:</h1>
    </header>
    <section id="modal-body">
         <!--listarMais();        
          <p><ul>
            <li *ngFor = "let p of personagens">
            {{p.characters}}</li></ul></p>

          <p><ul>
            <li> *ngFor = "let p of planetas">
            {{p.planets}} </li></ul> </p>

          <p><ul>
            <li *ngFor = "let n of naves">
            {{n.starships}}</li> </ul></p>

          <p> <ul>
            <li *ngFor = "let f of veiculos">
            {{v.vehicles}} </li></ul></p>

          <p><ul>
            <li *ngFor = "let e of especies">
            {{e.species}} </li></ul></p>  -->
    </section>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Retornar</button>
    </footer>
</div>